@import "../../themes";
@import "../../mixins";

.menu-button {
  position: relative;
  width: 100%;
  max-width: 230px;
  height: 60px;
  display: inline-block;
  line-height: 1.8;
  align-items: center;
  border-radius: 15px;
  padding: 0 1em;
  text-decoration: none;
  font-size: 2em;
  color: #fff;
  margin: 0.2em;
  font-family: "Jost", sans-serif;
  transition: 0.4s all ease;
  overflow: hidden;

  &:hover {
    box-shadow: 2px 8px 8px;
  }

  &.red {
    @include menu-button-colors($main-btn-red, $alt-btn-red);
  }

  &.green {
    @include menu-button-colors($main-btn-green, $alt-btn-green);
  }

  &.blue {
    @include menu-button-colors($main-btn-blue, $alt-btn-blue);
  }

  &.purple {
    @include menu-button-colors($main-btn-purple, $alt-btn-purple);
  }

  @include mobile {
    display: block;
    margin: 0.5em auto;
    height: 50px;
    font-size: 1.5em;
    line-height: 2;

    & .pokeball {
      width: 40px;
      height: 40px;
    }

    & .pokeball__button {
      top: calc(50% - 11px);
      left: calc(50% - 11px);
      border: 3px solid;
    }
  }

  @include smallMobile {
    width: 80%;
  }
}
