@import "../../themes";

@mixin btn-color($color) {
  background-color: $color;
  box-shadow: 2px 2px 14px $color;

  & .pokeball__button {
    border-color: $color;
  }

  & .pokeball::after {
    background-color: $color;
  }

  &:hover {
    box-shadow: 2px 8px 14px $color;
  }
}

.menu-button {
  position: relative;
  width: 250px;
  height: 60px;
  display: inline-block;
  line-height: 1.8;
  align-items: center;
  border-radius: 15px;
  padding: 0 1em;
  text-decoration: none;
  font-size: 2em;
  color: #fff;
  margin: 0.2em;
  font-family: "Jost", sans-serif;
  transition: 0.4s all ease;
  overflow: hidden;

  &:hover {
    box-shadow: 2px 8px 14px;
  }

  &.red {
    @include btn-color($main-btn-red);
  }

  &.green {
    @include btn-color($main-btn-green);
  }

  &.blue {
    @include btn-color($main-btn-blue);
  }

  &.purple {
    @include btn-color($main-btn-purple);
  }
}
