@import "../../mixins";

.page {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
  margin-top: 10vh;
  transition: 0.4s all ease;

  &.landing {
    margin-top: 30vh !important;
  }

  &.wide {
    max-width: 1000px;
  }

  h1 {
    font-family: "Jost", sans-serif;
    font-size: 3em;
    @include themer("color", "color-titles");
    transition: 0.4s all ease;
  }

  @include mobile {
    &.landing {
      margin-top: 18vh !important;
    }

    & h1 {
      font-size: 2.5em;
    }
  }

  @include smallMobile {
    width: 100%;

    & h1 {
      font-size: 2.2em;
      width: 90%;
      padding-left: 10px;
    }
  }
}
