$themes: (
  light: (
    color-background: #fafafa,
    color-titles: #707070,
    color-bg-tint: #e6e6e6,
  ),
  dark: (
    color-background: #012840,
    color-titles: #ffffff,
    color-bg-tint: #234f6a,
  ),
);

$main-btn-red: #ff5252;
$main-btn-green: #1bbc9b;
$main-btn-blue: #00abd8;
$main-btn-purple: #9c27b0;
