$themes: (
  light: (
    color-background: #fafafa,
    color-titles: #707070,
    color-bg-tint: #e6e6e6,
  ),
  dark: (
    color-background: #012840,
    color-titles: #ffffff,
    color-bg-tint: #234f6a,
  ),
);
